APScheduler==3.10.4
asyncpg==0.30.0
black==24.10.0
fastapi==0.115.5
jinja2
psycopg2-binary==2.9.10
pydantic-settings==2.6.1
pydantic==2.10.0
python-dotenv==1.0.1
ruff==0.7.4
SQLAlchemy-Utils==0.41.2
SQLAlchemy==2.0.36
slowapi[redis]==0.1.9
uvicorn==0.32.1